#wrapper > .view.blue .view-header {
  background-color: rgba(0, 174, 239, .7);
  color: #fff;
}

#wrapper > .view.blue a {
  color: rgba(0, 174, 239, 1);
}

#wrapper > .view.blue a:hover {
  color: rgba(0, 174, 239, .8);
}

#wrapper > .view.blue .view-header .search-cancel {
  color: rgba(255, 255, 255, 0.7);
}

#wrapper > .view.blue .view-header .search-input {
    background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

#wrapper > .view.blue .view-header .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#wrapper > .view.blue .view-header .search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#wrapper > .view.blue .view-header .search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#wrapper > .view.blue .view-header .search-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#wrapper > .view.blue .view-header .search-clear,
#wrapper > .view.blue .view-header .search-submit {
  color: rgba(255, 255, 255, 0.7);
}
